Repository meilisearch/specifications, pull requests merged in 2023-07, with the labels that each got.

#246 Facet Search API
  open-api.yaml
  text/0034-telemetry-policies.md
  text/0061-error-format-and-definitions.md
  text/0246-facet-search-api.md
Labels: Ready For Review, Implemented, OpenAPI, Telemetry, v1.3.0

#247 Faceting Setting API - sortFacetValuesBy
  open-api.yaml
  text/0034-telemetry-policies.md
  text/157-faceting-setting-api.md
Labels: Ready For Review, Implemented, OpenAPI, Telemetry

#248 Vector Search - `EXPERIMENTAL`
  open-api.yaml
  text/0034-telemetry-policies.md
  text/0061-error-format-and-definitions.md
  text/0118-search-api.md
  text/0124-documents-api.md
Labels: Ready For Review, Implemented, OpenAPI, Telemetry, 🧪 Experimental, v1.3.0

#252 Score details
  open-api.yaml
  text/0034-telemetry-policies.md
  text/0118-search-api.md
  text/0195-ranking-score.md
Labels: Ready For Review, Implemented, OpenAPI, Telemetry, 🧪 Experimental, v1.3.0

#253 Tasks route total
  open-api.yaml
  text/0060-tasks-api.md
Labels: Ready For Review, Implemented, OpenAPI, v1.3.0

#242 Document the latest metrics improvements
  open-api.yaml
  text/0174-metrics-api.md
Labels: Ready For Review, Implemented, 🧪 Experimental, v1.3.0

#251 Define fields to search on at runtime
  open-api.yaml
  text/0034-telemetry-policies.md
  text/0061-error-format-and-definitions.md
  text/0118-search-api.md
Labels: Ready For Review, Implemented, OpenAPI, Telemetry, v1.3.0

#250 Experimental features
  open-api.yaml
  text/0034-telemetry-policies.md
  text/0061-error-format-and-definitions.md
  text/0085-api-keys.md
  text/0118-search-api.md
  text/0174-metrics-api.md
  text/0193-experimental-features.md
  text/0194-experimental-feature-api.md
  text/0195-ranking-score.md
Labels: Ready For Review, Implemented, OpenAPI, Telemetry, 🧪 Experimental, v1.3.0

#244 Release v1.3.0
  open-api.yaml
  text/0034-telemetry-policies.md
  text/0060-tasks-api.md
  text/0061-error-format-and-definitions.md
  text/0085-api-keys.md
  text/0118-search-api.md
  text/0124-documents-api.md
  text/0174-metrics-api.md
  text/0193-experimental-features.md
  text/0194-experimental-feature-api.md
  text/0195-ranking-score.md
  text/0246-facet-search-api.md
  text/157-faceting-setting-api.md
Labels: Release Tracker
