Repository meilisearch/specifications, pull requests merged in 2024-03, with the labels that each got.

#264 Stabilize scoreDetails feature
  open-api.yaml
  text/0034-telemetry-policies.md
  text/0118-search-api.md
  text/0193-experimental-features.md
  text/0194-experimental-feature-api.md
  text/0195-ranking-score.md
Labels: OpenAPI, Telemetry, ⚠️ Breaking

#267 Add `gpu_enabled` to telemetry
  text/0034-telemetry-policies.md
Labels: Telemetry

#265 Add specification about both new logs experimental features
  text/0034-telemetry-policies.md
  text/0119-instance-options.md
  text/0193-experimental-features.md
Labels: Ready For Review, Implemented, Telemetry

#263 Release v1.7.0
  open-api.yaml
  text/0034-telemetry-policies.md
  text/0118-search-api.md
  text/0119-instance-options.md
  text/0193-experimental-features.md
  text/0194-experimental-feature-api.md
  text/0195-ranking-score.md
Labels: Release Tracker

#266 Specify the new experimental replication parameters
  text/0034-telemetry-policies.md
  text/0119-instance-options.md
Labels: Ready For Review, Implemented, Telemetry, 🧪 Experimental
